html {
    margin: 0;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 29, 30);
    height: auto;
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

#nav {
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(140, 55, 87, 1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
}

a {
    color: white;
    text-decoration: none;
}
#ulShortcuts a {
    color: rgba(140, 55, 87, 1);
}

li:hover {
    transform: scale(1.1);
}

#curated {
    margin-top: 10px;
    margin-bottom: 50px;
}

.separate {
    padding: 10px;
    margin-right: 40px;
    list-style: none;
}

.separat {
    list-style: none;
    margin-right: 60px;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 200px 10px 200px;
    color: white;
    padding: 0;
    max-width: 700px;
    width: 100%;
}

#writings {
    margin-right: 200px;
    /* margin-left: 20px; */
    list-style: none;

}

img {
    margin: auto;
    width: 200px;
}

header {
    align-items: center;
    text-align: center;
    border-bottom: 2px solid rgb(57, 57, 57);
    width: 100%;
}

#ulShortcuts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 40px auto;
    /* margin: auto; */
    list-style: none;
    /* color: rgba(140, 55, 87, 0.3); */
    font-style: italic;
    color: green;
    padding: 0px;
    width: 670px;
}

#shortcuts {
    width: 900px;
    margin: auto;
}

#container {
    padding: 30px 0px 30px 0px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

.container {
    width: 200px;
    height: 250px;
    border-radius: 10px;
    margin: 0px 15px 0px 15px;
    background-color: rgb(138, 36, 75);
}

.containerContent {
    display: flex;
    flex-direction: column;
    
    /* width: 100%;
    height: 100%; */
}

.content {
    padding: 10px;
}

.image {
   display: block;
   max-width: 100%;
   max-height: 100%;
   aspect-ratio: 2/1;
   object-fit: cover;
   border-radius: 8px;
}

.textContent {
    width: auto;
    height: 10px;
}

h2, h3, p {
    margin: 0;
    padding: 10px;
   
}

.textContent p {
    font-size: 12px;
    word-break: break-word;
}